@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Barlow:wght@400;600;700&family=Quattrocento:wght@400;700&family=Satisfy&display=swap');

:root {
  --sari: #FDC913;
  --kirmizi: #CE2829;
  --bej: #FAF7F2;
  --acik-gri: #5F5F5F;
  --koyu-gri: #292929;

  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
  color: var(--koyu-gri);
  background-color: var(--bej);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}